name: Add Aliyun 自动部署工作流程

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH deploy-mnb on server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: 60.205.93.8
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            /usr/local/bin/deploy-mnb

